.brd-red {
  border: 1px solid red;
}
.brd-blue {
  border: 1px solid rgb(16, 19, 145);
}
.brd-green {
  border: 1px solid rgb(19, 132, 51);
}
.brd-grey {
  border: 1px solid rgb(81, 81, 81);
}
.brd-pink {
  border: 1px solid rgb(223, 63, 207);
}
.brd-purp {
  border: 1px solid rgb(83, 12, 97);
}


:root {
  --primary-bg: rgb(255, 255, 255);
  --secondary-text: #1d1d1d;
  --accent: #60d8bc8a;
  --accent-bg: #c9e8e1b3;
  --accent-text: var(--secondary-text);
  --hello-text: var(--secondary-text);
  --soft-alt: rgb(245, 245, 245);
  --nav-bg: rgba(255, 255, 255, 0.75);
  --card-top-grad: var(--primary-bg);
  --card-bottom-grad: var(--soft-alt);
  --card-shadow: rgba(100, 100, 100, 0.104);
  --soft-border: rgba(152, 152, 152, 0.456);
  --title-shadow: rgba(134, 128, 128, 0.398);
  --featured-bg: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
  scroll-behavior: smooth;
  transition: 0.1s all ease;
}

.section-title {
  font-size: calc(32px + 1vw);
  font-weight: 600;
  opacity: 1;
  text-shadow: 0px 0px 4px var(--title-shadow);
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--primary-bg);
  color: var(--secondary-text);
}

.dark {
  --primary-bg: #090b0d;
  --secondary-text: rgb(225, 225, 225);
  --accent: #5e7684;
  --accent-bg: #2a373e;
  --accent-text: var(--secondary-text);
  --hello-text: var(--primary-bg);
  --soft-alt: rgb(156, 156, 156);
  --nav-bg: #0a0f0edd;
  --card-top-grad: #3a3a3a;
  --card-bottom-grad: #0f0f0f;
  --card-shadow: rgba(0, 0, 0, 0.061);
  --soft-border: rgba(71, 71, 71, 0.298);
  --featured-bg: #0c0e13;
}

/* NAVIGATION */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: calc(40px + 2vw);
  padding-top: 1vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  background-color: var(--nav-bg);
  backdrop-filter: blur(10px);
  z-index: 10;
  box-shadow: var(--soft-border) 0px 0px 5px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  margin-right: 3vw;
}

nav,
a {
  text-decoration: none;
  color: var(--secondary-text);
  font-size: calc(12px + 0.7vw);
  /* transition: 1s all ease; */
}

.nav-link-group:hover a {
  color: var(--accent);
  transition: 0.3s all ease;
  transform: scale(1.02);
}

.nav-link-group {
  cursor: pointer;
  display: inline-flex;
  margin-right: 3vw;
}

.nav-link-icon {
  box-sizing: border-box;
  opacity: 0;
  filter: invert(0);
}

.nav-link-group:hover .nav-link-icon {
  animation-name: NavAnimations;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

@keyframes NavAnimations {
  0% {
    opacity: 0;
    transform: translate(-450%, -30%);
  }

  7% {
    opacity: 0.5;
    transform: translate(calc(0px + 0.6vw), -30%);
  }
  8% {
    opacity: 0.6;
    transform: translate(calc(0px + 0.6vw), calc(3%));
  }

  12% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.8;
    transform: translate(calc(0px + 0.6vw), calc(3%));
  }
}

/* DARK MODE */

.dark-mode-toggle img {
  width: 32px;
  transition: 1s all ease;
  text-shadow: 0px 0px 10px;
}

.dark-mode-toggle:hover img {
  transform: scale(1.2);
  transition: 1s all ease;
}

#darkModeCheckbox {
  transform: translate(calc(20px), calc(5px + 0.3vw)) scale(3);
  opacity: 0;
  z-index: 150;
}

/* HERO / ABOUT */

.dan-img {
  position: relative;
  z-index: -3;
  top: 20%;
  right: 94%;
  width: clamp(50px, calc(75px + 4vw), 120px);
  border-right: 2px solid var(--secondary-text);
  border-bottom: 2px solid var(--secondary-text);
  border: 2px solid var(--soft-border);
  transform: scaleX(-1);
  opacity: 0.7;
  animation-name: DanImgAnimation;
  animation-duration: 3.5s;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

.dan-img:hover {
  opacity: 0.9;
  transition: 0.6s all ease;
}

@keyframes DanImgAnimation {
  0% {
    opacity: 0;
    transform: translate(100%, 0%) scaleX(-1);
  }

  10% {
    opacity: 0;
    transform: translate(100%, 0%) scaleX(-1);
  }

  100% {
    opacity: 0.65;
    transform: translate(calc(00), calc(0)) scaleX(-1);
  }
}

.about {
  width: 60%;
  padding-top: calc(300px + 1vw);
  margin-top: 6vw;
  padding-bottom: calc(300px + 1vw);
  height: calc(200px + 3vw);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: justify;
}

.about-text {
  margin-top: 1rem;
  font-size: calc(16px + 0.8vw);
  text-shadow: 0px 0px 2px var(--soft-border);
  transform: perspective(1200px);
  transform-origin: left;
  transition: 0.1s all ease;
  position: relative;
  z-index: 6;
}

.about-subtext {
  margin-top: 1rem;
  font-size: calc(12px + 0.8vw);
  text-shadow: 0px 0px 2px var(--soft-border);
  transform: perspective(1200px);
  transform-origin: left;
  transition: 0.1s all ease;
  position: relative;
  z-index: 6;
  color: var(--secondary-text);
}

.about-text:hover {
  text-shadow: 0px 1px 5px var(--soft-border);
  transform: perspective(1200px) scale(1.001);
  opacity: 0.9;
  transition: 0.2s all ease;
}

.text-accent {
  color: var(--accent);
  font-size: calc(30px + 0.8vw);
  font-weight: 600;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--hello-text);
}

.dan-image {
  height: calc(15px + 1.8vw);
  transform: translate(calc(-20px - 1.2vw), calc(-2px - 0.2vw));
  opacity: 1;
  border: 1px solid var(--card-shadow);
  border-radius: 80px;
  filter: blur(0px);
}

/* FEATURED PROJECTS */

.featured-projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--featured-bg);
  padding-top: 5rem;
  margin-bottom: 5rem;
}

.portfolio-container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: calc(75px + 1vw) 0;
}



@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    top: 0%;
  }
}


.live-link-image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.live-link-text {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 1rem;
  transition: all 0.5s 0.1s;
}

.github-repo-image {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.github-repo-text {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 1rem;
  transition: all 0.5s 0.1s;
}

.github-repo-text:hover,
.live-link-text:hover {
  color: var(--accent);
  transition: all 0.5s 0.1s;
}


.tool-icon {
  height: calc(30px + 0.5vw);
  margin: 0rem 0.7rem 0.5rem 0.7rem;
}

.icon-text-link > a {
  font-size: 0.1rem;
  transform: translate(0, -0.6rem);
}

.featured-title {
  font-size: calc(14px + 0.3vw);
  font-weight: 500;
  padding-top: 0.7vw;
  padding-bottom: 0.3vw;
  margin-bottom: 0.2vw;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  transition: 0.5s all ease;
  opacity: 1;
}

.featured-project-container {
  margin: 2rem 2vw;
  width: calc(300px + 3vw);
  transition: 0.5s all ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0px;
  box-shadow: 0px 15px 20px var(--card-shadow);
  border: 1px solid var(--soft-border);
  opacity: 0.7;
}
.featured-project-container:hover {
  transform: scale(1.05) translateY(-35px);
}

.featured-detail-text {
  font-size: 0px;
  transition: 0.1s all ease;
  text-align: start;
  transform: scale(0);
  opacity: 0;
}


.featured-project-container:hover .featured-detail-text {
  font-size: 11px;
  margin: 1.3rem 2rem;
  transform: scale(1);
  opacity: 1;
  transition: 0.3s ease;
}

.project-date-text {
  font-size: 0px;
  transition: 0.1s all ease;
  text-align: start;
  transform: scale(0);
  opacity: 0;
}

.featured-project-container:hover .project-date-text {
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 1rem;
  transform: scale(1);
  opacity: 1;
  transition: 0.3s ease;
}

.past-project-container:hover .project-date-text {
  font-size: 12px;
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transform: scale(1);
  opacity: 1;
  transition: 0.3s ease;
}

.featured-image img {
  border: 1px solid var(--soft-border);
  border-radius: 0px;
  width: calc(220px + 4vw);
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  opacity: 0.8;
  transition: all ease 0.1s 0.1s;
  box-shadow: 2px;
  /* filter: hue-rotate(200deg) grayscale(0.5); */
}

.featured-project-container:hover img {
  opacity: 1;
  transition: all ease 0.1s 0.1s;
  scale: 1.05;
}

.tool-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0 0.5rem 0;
}



/* PAST PROJECTS */

.past-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: calc(75px + 1vw) 0;
}

.past-project-container {
  margin: 2rem 2vw;
  width: calc(150px + 3vw);
  transition: 0.5s all ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0px;
  box-shadow: 0px 15px 20px var(--card-shadow);
  border: 1px solid var(--soft-border);
  opacity: 0.7;
}

.past-title {
  font-size: calc(12px + 0.3vw);
  font-weight: 500;
  padding-top: 0.7vw;
  padding-bottom: 0.3vw;
  margin-bottom: 0.2vw;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  transition: 0.5s all ease;
  opacity: 1;
}

.vertical-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
}

.past-project-container:hover {
  transform: translate(0px, -10px);
  transition: 0.4s all ease;
  border: 2px solid var(--accent-bg);
  border-top: transparent;
}

.past-project-container:hover .past-title {
  background-color: var(--accent);
  transition: 0.4s all ease;
  color: var(--accent-text);
  transform: translate(0px, -10px) scale(1.04);
  border-left: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
  border-top: 1px solid var(--accent);
}

.git-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.git-group a {
  font-size: calc(10px + 0.1vw);
  transition: 0.3s all ease;
}

.git-group a:hover {
  transition: 0.3s all ease;
  color: var(--accent);
}

.git-project-icon {
  height: 30px;
  transform: translate(-10%, 10%);
  padding-top: 5px;
}

/* CONTACT FORM */

form {
  margin: 2vw 0;
  min-height: 280px;
  width: 500px;
  background: rgba(255, 255, 255, 0);
  color: rgb(29, 29, 29);

  padding: 3rem 3rem 3rem 6rem;
  display: flex;
  position: relative;
}

.contact-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.input {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  font-size: 0.9rem;
  background-color: var(--soft-alt);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom: 2px solid var(--soft-border);
  transition: 0.7s all ease;
}

.input:focus {
  border-bottom: 1px solid var(--accent);
  transition: 0.7s all ease;
}

.input-container {
  position: relative;
  width: 100%;
}

.placeholder {
  position: relative;
  z-index: 1;
  pointer-events: none;
  padding: 0.3rem 0rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  opacity: 0.6;
  text-align: left;
  transform-origin: left;
  width: 40%;
  color: var(--secondary-text);
}

.line-svg {
  position: absolute;
  left: -20px;
  bottom: 0;
  overflow: visible;
  opacity: 0.9;
}

.form-button {
  position: absolute;
  bottom: -0.8vw;
  right: 40%;
}

.form-button button {
  padding: 0.3rem 0.7rem;

  border-radius: 0px;
  border: 1px solid var(--soft-border);
  background-color: var(--soft-alt);
  transition: 0.3s all ease;
}

.form-button button:hover {
  transition: 0.3s all ease;
  opacity: 1;
  transform: translate(0rem, -0.1rem) scale(1.05);
  color: var(--accent);
}

footer {
  width: 100%;
  margin-top: 5rem;
  padding-top: calc(50px + 1vw);
  height: calc(200px + 3vw);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: calc(18px + 0.5vw);
  background-color: var(--accent-bg);
  color: var(--accent-text);
}

.footer-link-icons {
  margin-top: calc(20px + 0.5vw);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-link-icons img {
  height: calc(25px + 1vw);
  margin: 1rem;
  transition: 0.3s all ease;
  opacity: 0.8;
}

.footer-link-icons img:hover {
  transition: 0.3s all ease;
  opacity: 1;
  transform: translate(0rem, -0.2rem);
}

@media only screen and (max-width: 800px) {
  .nav-link-icon img {
    width: 15px;
  }

  .nav-links {
    margin-right: 0;
  }

  .dark-mode-toggle img {
    width: clamp(20px, calc(20px + 1vw), 39px);
    height: clamp(20px, calc(20px + 1vw), 39px);
    margin-right: 10px;
  }

  .dan-img {
    top: 10%;
    left: 10%;
  }

  .hero,
  .portfolio-container,
  .past-projects {
    width: 95%;
  }
  .input {
    width: 100%;
  }

  form {
    width: clamp(150px, 80%, 300px);
    padding: 0;
  }

  .form-button {
    bottom: -3.5rem;
    right: 30%;
  }
}
